* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #333333;
}

.about {
  padding: 50px 0;
  text-align: center;
  margin-inline: auto !important;
  max-width: 1200px;
  background-color: #212121 !important;

  h1 {
    font-size: 2.5em;
    color: #008eff;
    margin-bottom: 20px;
    text-align: center!important;
  }

  p {
    font-size: 1.2em;
    color: #ffffff;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto 30px;
  }
  strong{
    color: #008eff;
  }
}

