* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #ffffff;
  transition: all 0.3s;
}

#about {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
  margin-top: 0;
}

#about .content {
  background-color: #ffffff;
  padding: 40px; /* Add some padding to the content box */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  max-width: 800px;
  text-align: center;
}

#about .content p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
}


.hero {
  background-image: url('/header.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 575px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 2.5em;
    background-color: #3b3b3ba8;
    padding: 10px;
    border-radius: 10px;
  }

  p {
    margin: 10px 0;
    font-size: 1.2em;
    background-color: #3b3b3ba8;
    padding: 10px;
    border-radius: 10px;
  }
}


.cta-button {
  background-color: #004B87;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #00335b;
  }
}

section:not(.hero) {
  padding: 40px;
  background-color: #212121;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

  h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #008eff;
  }

  p {
    font-size: 1.2em;
    line-height: 1.8;
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 30%; // This means the card will grow and shrink as needed, and the base width is 30%
  margin: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden; // This makes sure the image doesn't overflow the card

  img {
    height: 250px;
    width: 100%;
    object-fit: cover; // This makes sure the image covers the card, but still maintains its aspect ratio
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 300px;
  }

  section {
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
}


@media screen and (max-width: 400px) {
  .hero {
    background-position: center -300px;
  }
}